<app-websiteheader></app-websiteheader>
<link href="../../../styles/css/teluguindustry.css" rel="stylesheet">
      <!-- Icons Grid -->
      <section class="features-icons">
        <div class="container">
            <div class="col-md-12">
              <div class="row">
                  <div class="col-md-8">
                      <div class="row">
                        
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <app-nowplaying></app-nowplaying>
                             <app-upcoming></app-upcoming>
                          </div>
                          <div class="col-md-6">
                              <app-moviereviews></app-moviereviews>
                          </div> 
                      </div>  
                      <div class="row ti_featured_vid">
                          <div class="col-md-12 no-padding">
                              <div class="ti-title"><h2>Videos</h2></div>
                              <div class="col left">
                              <ul class="ti_videos">
                                  <li>
                                        <iframe width="300" height="150" src="https://www.youtube.com/embed/9KN3dbZVRwQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                  </li>
                                  <li>
                                        <iframe width="300" height="150" src="https://www.youtube.com/embed/rQA5YM9UDrg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                  </li>
                              </ul></div>   
                              
                              <div class="col right">
                              <ul class="ti_videos">
                                    <li>
                                            <iframe width="300" height="150" src="https://www.youtube.com/embed/_JVghQCWnRI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </li>
                                    <li>
                                            <iframe width="300" height="150" src="https://www.youtube.com/embed/kiuVtSg4DS8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                    </li>
                              </ul></div>
                          </div>
                      </div>
                      
                  </div>
  
  
                  <div class="col-md-4">
                      <app-sidebarnewslist></app-sidebarnewslist>
                      <app-pramotions></app-pramotions>                 
                  </div>
              </div> 
            </div>
            <div class="row">
  
             
          </div>
        </div>
      </section>
  
<app-websitefooter></app-websitefooter>     