<app-websiteheader></app-websiteheader>
<link href="../../../styles/css/teluguindustry.css" rel="stylesheet">
      <!-- Icons Grid -->
      <section class="features-icons">
        <div class="container">
            <div class="col-md-12">
              <div class="row">
                  <div class="col-md-8">
                      <!-- <div class=""><?php include "demo.html"; ?>  </div> -->
                      <div class="row">
                          <div class="col-md-6">
                              <app-nowplaying></app-nowplaying>
                             <app-upcoming></app-upcoming>
                          </div>
                          <div class="col-md-6">
                              <app-moviereviews></app-moviereviews>
                          </div> 
                      </div>  
                      <div class="row ti_featured_vid">
                          <div class="col-md-12 no-padding">
                              <div class="ti-title"><h2>Videos</h2></div>
                              <div class="col left">
                              <ul class="ti_videos">
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                              </ul></div>   
                              
                              <div class="col right">
                              <ul class="ti_videos">
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                              </ul></div>
                          </div>
                      </div>
                      
                  </div>
  
  
                  <div class="col-md-4">
                      <!-- <div class="ti-title"><h2>Latest News</h2></div> -->
                      <!-- <ul class="ti_list">
                          <li *ngFor="let news of newsData"><a routerLink="/newsdetail/{{news._id}}" title="">{{news.title}}</a></li>
                      </ul> -->
                      <app-sidebarnewslist></app-sidebarnewslist>
                      
                      <div class="ti-title"><h2>We Promote</h2></div>
                      <ul>
                          <li>
                              <img src="styles/images/review.jpg" alt="">
                          </li>
                      </ul>
                      
                      <div class="ti-title"><h2>TI Spotlight</h2></div>
                      <ul>
                          <li>
                              <img src="styles/images/review.jpg" alt="">
                              <p>Check out IMDb's Streaming Guide to see what's new on Netflix, find out if your favorite streaming show has been renewed or canceled, and more.</p>
                              <p><a href="">Check out Our Sportlight >></a></p>
                          </li>
                      </ul>                    
                  </div>
              </div> 
            </div>
            <div class="row">
  
             
          </div>
        </div>
      </section>
  
<app-websitefooter></app-websitefooter>     