<app-websiteheader></app-websiteheader>
<link href="../../../styles/css/teluguindustry.css" rel="stylesheet">
      <!-- Icons Grid -->
      <section class="features-icons">
        <div class="container">
            <div class="col-md-12">
              <div class="row">
                  <div class="col-md-8">
                      <!-- <div class=""><?php include "demo.html"; ?>  </div> -->
                      <div class="row">
                          <div class="col-md-6">
                              <div class="ti-title"><h2>Now Playing</h2></div>
                              <ul class="ti_list">
                                  <li><a href="" title="Pic Talk: Amala's Lungi Avatar!">Pic Talk: Amala's Lungi Avatar!</a></li>
                                  <li><a href="" title="Nani, Vikram &amp; Five Women">Nani, Vikram &amp; Five Women</a></li>
                                  <li><a href="" title="Pic Talk : Sonali Bendre Returns To Mumbai">Pic Talk : Sonali Bendre Returns To Mumbai</a></li>
                                  <li><a href="" title="Garikapati Quits Pravachanam">Garikapati Quits Pravachanam</a></li>
                                  <li><a href="" title="Controversial Heroine Wants a Solo Release">Controversial Heroine Wants a Solo Release</a></li>
                                  <li><a href="">US Proposes Major Changes In H-1B Applications</a></li>
                              </ul>
  
                              <div class="ti-title"><h2>Upcoming</h2></div>
                              <ul class="ti_list">
                                  <li><a href="" title="Nannapaneni Rajakumari In #NTR Biopic">Nannapaneni Rajakumari In #NTR Biopic</a></li>
                                  <li><a href="" title="#VVR: Ram Charan Fun Time With Family">#VVR: Ram Charan Fun Time With Family</a></li>
                                  <li><a href="" title="Former US President George HW Bush passes away">Former US President George HW Bush passes away</a></li>
                                  <li><a href="" title="I Should Have Dated That Mega Hero">I Should Have Dated That Mega Hero</a></li>
                                  <li><a href="" title="Rumored Girlfriend Shares Arjun's Shirtless Photo">Rumored Girlfriend Shares Arjun's Shirtless Photo</a></li>
                                  <li><a href="" title="CEO Lost Money in Casino Gambling; Gionee at Bankruptcy">CEO Lost Money in Casino Gambling;</a></li> 
                              </ul>
                          </div>
                          <div class="col-md-6">
                              <div class="ti-title"><h2>Movie Reviews</h2></div>
                              <div class="today_release">
                                  <a href=""><img src="styles/images/review.jpg" alt="Robo 2.0 Movie Review"><p>Robo 2.0</p></a>
                              </div>
                              <ul class="reviews_li">
                                  <li>
                                      <div class="col ti_review1"><a href="" title="24 కిస్సెస్ Movie Review"><img src="styles/images/24-Kisses-thumb.jpg" alt=""></a></div>
                                      <div class="col ti_review2">
                                      <a href=""><p>24 కిస్సెస్</p></a>
                                      <p>Rating: <span>0.5/5</span></p>
                                      </div>
                                  </li>
                                  <li>
                                      <div class="col ti_review1"><a href="" title="24 కిస్సెస్ Movie Review"><img src="styles/images/Taxiwaala-thumb.jpg" alt=""></a></div>
                                      <div class="col ti_review2">
                                      <a href=""><p>ట్యాక్సీవాలా</p></a>    
                                      <p>Rating: <span>2.5/5</span></p>
                                      </div>
                                  </li>
                              </ul>
                          </div> 
                      </div>  
                      <div class="row ti_featured_vid">
                          <div class="col-md-12 no-padding">
                              <div class="ti-title"><h2>Videos</h2></div>
                              <div class="col left">
                              <ul class="ti_videos">
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                              </ul></div>   
                              
                              <div class="col right">
                              <ul class="ti_videos">
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                                  <li>
                                      <a href="">
                                          <span class="video_img">
                                              <img src="styles/images/24-Kisses-thumb.jpg" alt="" title="">
                                          </span>
                                          <span class="video_desc">
                                              <p>Vinaya Vidheya Rama First Single</p>
                                              <code>Dec 03,2018</code>
                                          </span>
                                      </a>
                                  </li>
                              </ul></div>
                          </div>
                      </div>
                      
                  </div>
  
  
                  <div class="col-md-4">
                      <!-- <div class="ti-title"><h2>Latest News</h2></div> -->
                      <!-- <ul class="ti_list">
                          <li *ngFor="let news of newsData"><a routerLink="/newsdetail/{{news._id}}" title="">{{news.title}}</a></li>
                      </ul> -->
                      <app-sidebarnewslist></app-sidebarnewslist>
                      
                      <div class="ti-title"><h2>We Promote</h2></div>
                      <ul>
                          <li>
                              <img src="styles/images/review.jpg" alt="">
                          </li>
                      </ul>
                      
                      <div class="ti-title"><h2>TI Spotlight</h2></div>
                      <ul>
                          <li>
                              <img src="styles/images/review.jpg" alt="">
                              <p>Check out IMDb's Streaming Guide to see what's new on Netflix, find out if your favorite streaming show has been renewed or canceled, and more.</p>
                              <p><a href="">Check out Our Sportlight >></a></p>
                          </li>
                      </ul>                    
                  </div>
              </div> 
            </div>
            <div class="row">
  
             
          </div>
        </div>
      </section>
  
<app-websitefooter></app-websitefooter>     