<app-header></app-header>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <app-leftnav></app-leftnav>
            <!-- Content Here-->
            <div class="span9">
                <div class="content">
                    <div class="module">
                        <div class="module-head">
                          <h3>Edit Movie</h3>
                        </div>
                        <div class="module-body">
                            <br />
                            <form class="form-horizontal row-fluid" #movieEditForm="ngForm" (ngSubmit)="movieEditForm.valid && onSubmit(movieEditForm)">
                              <div class="control-group">
                                <label class="control-label" for="basicinput">Movie Name</label>
                                <div class="controls">
                                  <input type="text" name="name" class="span8" #name="ngModel" [(ngModel)]="movieEditData.name" required>
                                </div>
                              </div>

                              <div class="control-group">
                                <label class="control-label" for="basicinput">Release Date</label>
                                <div class="controls">
                                  <input type="text" name="releasedate" placeholder="Type something here..." class="span8" #releasedate="ngModel" [(ngModel)]="movieEditData.releasedate" required>
                                </div>
                              </div>
          
                              <div class="control-group">
                                <label class="control-label" for="basicinput">Mini Description</label>
                                <div class="controls">
                                  <textarea class="span8" name="description" rows="5" #description="ngModel" [(ngModel)]="movieEditData.description"></textarea>
                                </div>
                              </div>
          
                              <div class="control-group">
                                <label class="control-label">Poster</label>
                                <div class="controls">
                                  <img [src]="imageUrl"  style="width:150px;height:100px">
                                  <input type="file" name="poster" #poster="ngModel" [(ngModel)]="model.poster" accept="image/*" (change)="handleFileInput($event.target.files)">
                                </div>
                              </div>

                              <div class="control-group">
                                <label class="control-label">Starring</label>
                                <div class="controls">
                                  <!-- <select name="starring" tabindex="1" class="span8" id="starring" multiple #starring="ngModel" [(ngModel)]="model.starring">
                                    <option [value]="profile._id" *ngFor="let profile of profiles">{{ profile.firstName +" "+ profile.lastName }}</option>
                                  </select> -->
                                  
                                  <ng-multiselect-dropdown
                                    [placeholder]="'Search for celebrity'"
                                    [data]="cprofiles"
                                    [name]="selectedstarring"
                                    [(ngModel)]="selectedstarring"
                                    [settings]="selectSettings"
                                    class="span7"
                                  >
                                  </ng-multiselect-dropdown>
                                </div>
                              </div>
                              
                              <div class="control-group">
                                <label class="control-label">Director</label>
                                <div class="controls">
                                  <ng-multiselect-dropdown
                                    [placeholder]="'Search for director'"
                                    [data]="profiles"
                                    [name]="selecteddirector"
                                    [(ngModel)]="selecteddirector"
                                    [settings]="selectSettings"
                                    class="span7"
                                  >
                                  </ng-multiselect-dropdown>
                                </div>
                              </div>
                              
                              <div class="control-group">
                                <label class="control-label">Producer</label>
                                <div class="controls">
                                  <ng-multiselect-dropdown
                                    [placeholder]="'Search for producer'"
                                    [data]="profiles"
                                    [name]="selectedproducer"
                                    [(ngModel)]="selectedproducer"
                                    [settings]="selectSettings"
                                    class="span7"
                                  >
                                  </ng-multiselect-dropdown>
                                </div>
                              </div>

                              <div class="control-group">
                                <label class="control-label">Screenplay</label>
                                <div class="controls">
                                  <input type="text" name="screenplay" placeholder="Screenplay" class="span8" id="screenplay" #screenplay="ngModel" [(ngModel)]="movieEditData.screenplay" required>
                                </div>
                              </div>

                              <div class="control-group">
                                <label class="control-label">Story</label>
                                <div class="controls">
                                  <input type="text" name="story" placeholder="Story" class="span8" #story="ngModel" [(ngModel)]="movieEditData.story" required>
                                </div>
                              </div>
                              
                              <div class="control-group">
                                <label class="control-label">Music</label>
                                <div class="controls">
                                  <ng-multiselect-dropdown
                                    [placeholder]="'Search for music'"
                                    [data]="profiles"
                                    [name]="selectedmusic"
                                    [(ngModel)]="selectedmusic"
                                    [settings]="selectSettings"
                                    class="span7"
                                  >
                                  </ng-multiselect-dropdown>
                                </div>
                              </div>

                              <div class="control-group">
                                <label class="control-label">Cinematography</label>
                                <div class="controls">
                                  <input type="text" name="cinematography" placeholder="Cinematography" class="span8" #cinematography="ngModel" [(ngModel)]="movieEditData.cinematography" required>
                                </div>
                              </div>

                              <div class="control-group">
                                <label class="control-label">Edited By</label>
                                <div class="controls">
                                  <input type="text" name="edited" placeholder="Edited By" class="span8" #edited="ngModel" [(ngModel)]="movieEditData.edited" required>
                                </div>
                              </div>

                              <div class="control-group">
                                <label class="control-label">Production Company</label>
                                <div class="controls">
                                  <input type="text" name="productionCompany" placeholder="Production Company" class="span8" #productionCompany="ngModel" [(ngModel)]="movieEditData.productionCompany" required>
                                </div>
                              </div>

                              <div class="control-group">
                                <label class="control-label">Distributed By</label>
                                <div class="controls">
                                  <input type="text" name="distributedBy" placeholder="Distributed By" class="span8" #distributedBy="ngModel" [(ngModel)]="movieEditData.distributedBy" required>
                                </div>
                              </div>
          
                              <div class="control-group">
                                <div class="controls">
                                  <button type="submit" class="btn">Submit Form</button>
                                </div>
                              </div>
                            </form>
                        </div>
                      </div><!--/.module-->
                </div>
                <!--/.content-->
            </div>
            <!--/. Content Here-->
        </div>
    </div>
    <!--/.container-->
</div>
<app-footer></app-footer>