<link href="http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- Navigation -->
<header class="teluguindystry_header">
  <div class="container">
      <div class="row">
          <div class="col-md-4"><a class="navbar-brand" href="#"><img src="styles/images/logo.png" alt="Telugu Industry"></a></div>
          <div class="col-md-8"><img src="styles/images/720ad.png" alt="720 Google ad"></div>
      </div>    
  </div>
</header>
<section class="ti_menu">
  <nav class="navbar container">
    <ul class="main_nav">
      <li class="spacer"></li>
      <li class="js_nav_item" id="navTitleMenu">
            <a routerLink="/home">Home</a>
      </li>
      <li class="spacer"></li>
      <li class="js_nav_item" id="navNameMenu">
            <a routerLink="/movienews">News</a>
      </li>
      <li class="spacer"></li>
      <li class="js_nav_item" id="navNewsMenu">
            <a href="#">Gallery</a>
      </li>
      <li class="spacer"></li>
      <li class="js_nav_item" id="navWatchlistMenu">
          <a href="#">Movie Reviews</a>
          <span class="downArrow"></span>
      </li>
      <li class="spacer"></li>
    </ul>
  </nav>  
</section>