<div class="span3">
  <div class="sidebar">
      <ul class="widget widget-menu unstyled"> 
          <li class="active"><a routerLink="/dashboard"><i class="menu-icon icon-dashboard"></i>Dashboard
          </a></li>
      </ul>
      <!--/.widget-nav-->
      
      
      <ul class="widget widget-menu unstyled">
          <li><a routerLink="/celebrity"><i class="menu-icon icon-bold"></i> Celebrity Profiles </a></li>
          <li><a routerLink="/movies"><i class="menu-icon icon-book"></i>Movies </a></li>
          <li><a routerLink="/news"><i class="menu-icon icon-paste"></i>News </a></li>
          <li><a href="#"><i class="menu-icon icon-table"></i>Gallery </a></li>
      </ul>
      <!--/.widget-nav-->
      <ul class="widget widget-menu unstyled">
          <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Reviews </a></li>
          <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Pramotions </a></li>
          <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Now Playing Movies</a></li>
          <li><a href="charts.html"><i class="menu-icon icon-bar-chart"></i>Upcoming Movies </a></li>
      </ul>
      <ul class="widget widget-menu unstyled">
          <li><a routerLink="/category" href="#"><i class="menu-icon icon-signout"></i>Profile Category</a></li>
      </ul>
      <ul class="widget widget-menu unstyled">
          <li><a href="#" (click)="onLogout()"><i class="menu-icon icon-signout"></i>Logout </a></li>
      </ul>
  </div>
  <!--/.sidebar-->
</div>