<link href="../../../styles/css/teluguindustry.css" rel="stylesheet">
<div class="ti-title"><h2>Latest Gallery</h2></div>
<ul class="suggested_section">
    <li><a href="" title="Nani, Vikram &amp; Five Women">
            <img src="styles/images/related01.png" alt="">
            <p>Priyanka Jawalkar Latest Images</p>
        </a></li>
    
    <li><a href="" title="Nani, Vikram &amp; Five Women">
            <img src="styles/images/related02.png" alt="">
            <p>Malavika Nair New Pics</p>
        </a></li>
    <li><a href="" title="Nani, Vikram &amp; Five Women">
            <img src="styles/images/related01.png" alt="">
            <p>Priyanka Jawalkar Latest Images</p>
        </a></li>   
    <li><a href="" title="Nani, Vikram &amp; Five Women">
            <img src="styles/images/related02.png" alt="">
            <p>Malavika Nair New Pics</p>
        </a></li>
    <li><a href="" title="Nani, Vikram &amp; Five Women">
            <img src="styles/images/related01.png" alt="">
            <p>Priyanka Jawalkar Latest Images</p>
        </a></li>   
    <li><a href="" title="Nani, Vikram &amp; Five Women">
            <img src="styles/images/related02.png" alt="">
            <p>Malavika Nair New Pics</p>
        </a></li>                        
</ul>