<app-header></app-header>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <app-leftnav></app-leftnav>
            <!-- Content Here-->
            <div class="span9">
                <div class="content">
                    <div class="module">
                        <div class="module-head clearfix">
                          <div class="pull-left">
                              <h3 style="padding-top: 7px;">Gallery</h3>
                          </div>
                          <div class="pull-right">
                              <a routerLink="/addGallery" class="btn btn-primary">Add Gallery</a>
                          </div>
                        </div>
                        <div class="module-body table">
                          <table cellpadding="0" cellspacing="0" border="0" class="table table-bordered table-striped display" width="100%">
                            <thead>
                              <tr>
                                <th>Name</th>
                                <th>Category</th>
                                <th>Images</th>
                                <th>Settings</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr class="odd gradeX" *ngFor="let gallery of GalleryData">
                                <td> {{gallery.caption}} </td>
                                <td>
                                    <tr>
                                        <td *ngFor="let category of gallery.category">
                                            {{category.categoryName}}
                                        </td>
                                    </tr>
                                </td>
                                <td> {{gallery.pic}} </td>
                                <td>
                                    <a routerLink="/editGallery/{{gallery._id}}" title="Edit Gallery"><i class="icon-edit"></i></a>
                                    <a href="#" title="Delete Celebrity"><i class="icon-edit"></i></a>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div><!--/.module-->
                </div>
                <!--/.content-->
            </div>
            <!--/. Content Here-->
        </div>
    </div>
    <!--/.container-->
</div>
<app-footer></app-footer> 